{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
  <h1>Coding Resources</h1>
  <p class="text-muted">include http:// or https:// for your url.</p>
  <form role="form" method='POST' action='' id="addUrlForm">
    <div class="form-group">
      <input type="text" name="add-card" class="form-control" id="inputUrl" placeholder="Enter URL..." style="max-width: 300px;" autofocus required>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" id="addCardBtn">Add Card</button>
  </form>
  </div>
</div>

<!-- SERVER messages -->
<div class="container" id="server-message">
</div>

<!-- CARDS -->
<div class="container" id="cards">
</div>

{% endblock %}