{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
  <h1>Filterable Coding Resources</h1>
  <p>Note: include http:// or https:// for your url.</p>
  <form role="form" method='POST' action='/'>
    <div class="form-group">
      <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" autofocus required>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
  </div>
</div>
<div class="container">
  <div class="message">
    {% if success %}
    <div class="alert alert-success" role="alert">
      <strong>Success! </strong>{{success}}
    </div>
    {% endif %}
    {% if errors %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>{{error}}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <div id="output"></div>
</div>
{% endblock %}